# Data Clean
### Takes data labels it, and breaks it into one second chunks
#### David Saffo
#### 5/16/2017

In [52]:
import pandas as pd
import numpy as np
from io import StringIO
import math
import scipy.stats.stats as stats

In [2]:
noelWalking = pd.read_csv("noel walking.csv", header = None)
noelRunning = pd.read_csv("noel running.csv", header = None)
noelSleeping = pd.read_csv("noel sleeping.csv", header = None)
noelClimbing = pd.read_csv("noel climbing.csv", header = None)

In [3]:
def createDF(sub, act, data):
    x = 0
    i = 0
    array = []
    d = []
    for index, row in data.iterrows():
        if (data.iloc[index,0].is_integer()==False):
            array.append([data.iloc[index,1],data.iloc[index,2],data.iloc[index,3]])
        elif (data.iloc[index,0].is_integer()==True):
            d.append([sub , act, array])
            array = []
            i+=1

    d.pop(0)
    d.pop(1)
    d.pop(-1)
    d.pop(-2)

    dftest = pd.DataFrame(d)
    
    return dftest

In [4]:
df = createDF("noel", "walking", noelWalking)
df = df.append(createDF("noel", "running", noelRunning), ignore_index=True)
df = df.append(createDF("noel", "sleeping", noelSleeping), ignore_index=True)
df = df.append(createDF("noel", "climbing", noelClimbing), ignore_index=True)

In [41]:
temp = []
a = []
mag = []
for i in range(len(df)):
    temp = df.iloc[i,2]
    mag = []
    for j in range(len(temp)):
        x = temp[j][0]
        y = temp[j][1]
        z = temp[j][2]
    
        magnitude = math.sqrt(x ** 2 + y ** 2 + z ** 2)
        
        mag.append(magnitude)
       
    a.append(mag)

df.insert(3, "magnitude", a)

In [42]:
df.head()

,0,1,2,magnitude
0,noel,walking,"[[0.002076, -0.006743, -0.002139], [0.002061, ...","[0.007372458612973016, 0.003802972916022411, 0..."
1,noel,walking,"[[0.023377, -0.013351, -0.425448], [-0.098312,...","[0.4262988787623068, 0.4827258387418266, 0.350..."
2,noel,walking,"[[0.065003, 0.046967, -0.1216], [0.067933, 0.0...","[0.1456634789437627, 0.15239350389370276, 0.16..."
3,noel,walking,"[[-0.031417, 0.082261, -0.079272], [-0.025344,...","[0.11848185512558453, 0.12827635544011998, 0.1..."
4,noel,walking,"[[0.070741, 0.150697, -0.32175], [0.135728, 0....","[0.36226639009160094, 0.4096696632361249, 0.43..."

In [43]:
temp = []
a = []


for i in range(len(df)):
    temp = df.iloc[i,3]
    Max = max(temp)
       
    a.append(Max)

df.insert(4, "max", a)

In [44]:
df.head()

,0,1,2,magnitude,max
0,noel,walking,"[[0.002076, -0.006743, -0.002139], [0.002061, ...","[0.007372458612973016, 0.003802972916022411, 0...",0.772422
1,noel,walking,"[[0.023377, -0.013351, -0.425448], [-0.098312,...","[0.4262988787623068, 0.4827258387418266, 0.350...",0.570496
2,noel,walking,"[[0.065003, 0.046967, -0.1216], [0.067933, 0.0...","[0.1456634789437627, 0.15239350389370276, 0.16...",0.573341
3,noel,walking,"[[-0.031417, 0.082261, -0.079272], [-0.025344,...","[0.11848185512558453, 0.12827635544011998, 0.1...",0.564052
4,noel,walking,"[[0.070741, 0.150697, -0.32175], [0.135728, 0....","[0.36226639009160094, 0.4096696632361249, 0.43...",0.586625

In [45]:
temp = []
a = []


for i in range(len(df)):
    temp = df.iloc[i,3]
    Min = min(temp)
       
    a.append(Min)

df.insert(5, "min", a)

In [46]:
df.head()

,0,1,2,magnitude,max,min
0,noel,walking,"[[0.002076, -0.006743, -0.002139], [0.002061, ...","[0.007372458612973016, 0.003802972916022411, 0...",0.772422,0.003803
1,noel,walking,"[[0.023377, -0.013351, -0.425448], [-0.098312,...","[0.4262988787623068, 0.4827258387418266, 0.350...",0.570496,0.157260
2,noel,walking,"[[0.065003, 0.046967, -0.1216], [0.067933, 0.0...","[0.1456634789437627, 0.15239350389370276, 0.16...",0.573341,0.084021
3,noel,walking,"[[-0.031417, 0.082261, -0.079272], [-0.025344,...","[0.11848185512558453, 0.12827635544011998, 0.1...",0.564052,0.118482
4,noel,walking,"[[0.070741, 0.150697, -0.32175], [0.135728, 0....","[0.36226639009160094, 0.4096696632361249, 0.43...",0.586625,0.176065

In [47]:
temp = []
a = []


for i in range(len(df)):
    temp = df.iloc[i,3]
    x = np.array(temp)
    std = np.std(x)
    a.append(std)

df.insert(6, "std", a)

In [48]:
df.head()

,0,1,2,magnitude,max,min,std
0,noel,walking,"[[0.002076, -0.006743, -0.002139], [0.002061, ...","[0.007372458612973016, 0.003802972916022411, 0...",0.772422,0.003803,0.192916
1,noel,walking,"[[0.023377, -0.013351, -0.425448], [-0.098312,...","[0.4262988787623068, 0.4827258387418266, 0.350...",0.570496,0.157260,0.088100
2,noel,walking,"[[0.065003, 0.046967, -0.1216], [0.067933, 0.0...","[0.1456634789437627, 0.15239350389370276, 0.16...",0.573341,0.084021,0.091172
3,noel,walking,"[[-0.031417, 0.082261, -0.079272], [-0.025344,...","[0.11848185512558453, 0.12827635544011998, 0.1...",0.564052,0.118482,0.074929
4,noel,walking,"[[0.070741, 0.150697, -0.32175], [0.135728, 0....","[0.36226639009160094, 0.4096696632361249, 0.43...",0.586625,0.176065,0.076042

In [54]:
temp = []
a = []


for i in range(len(df)):
    temp = df.iloc[i,3]
    stats.skew(temp)
    a.append(temp)

#df.insert(6, "skew", a)

,0,1,2,magnitude,max,min,std
0,noel,walking,"[[0.002076, -0.006743, -0.002139], [0.002061, ...","[0.007372458612973016, 0.003802972916022411, 0...",0.772422,0.003803,0.192916
1,noel,walking,"[[0.023377, -0.013351, -0.425448], [-0.098312,...","[0.4262988787623068, 0.4827258387418266, 0.350...",0.570496,0.157260,0.088100
2,noel,walking,"[[0.065003, 0.046967, -0.1216], [0.067933, 0.0...","[0.1456634789437627, 0.15239350389370276, 0.16...",0.573341,0.084021,0.091172
3,noel,walking,"[[-0.031417, 0.082261, -0.079272], [-0.025344,...","[0.11848185512558453, 0.12827635544011998, 0.1...",0.564052,0.118482,0.074929
4,noel,walking,"[[0.070741, 0.150697, -0.32175], [0.135728, 0....","[0.36226639009160094, 0.4096696632361249, 0.43...",0.586625,0.176065,0.076042